NEXA_POSTGRES_PASSWORD=
NEXA_SECURITY_JWT_SIGNING_KEY=
NEXA_MODERN_POSTGRES_DB=nexa
NEXA_MODERN_POSTGRES_USER=nexa
NEXA_MODERN_POSTGRES_PASSWORD=
NEXA_MODERN_SPRING_PROFILE=local
NEXA_DEV_BOOTSTRAP_ENABLED=false
NEXA_SECURITY_RSA_PUBLIC_KEY_FILE=../../.local-keys/access-token-public.pem
NEXA_SECURITY_RSA_PRIVATE_KEY_FILE=../../.local-keys/access-token-private.pem
NEXA_LEGACY_POSTGRES_DB=nexa_platform_db
NEXA_LEGACY_POSTGRES_USER=nexa
